/* Samuel Doucette */

/*General*/
/*Arrière plan principal*/
body {
    background: url(../img/background\ 1.png) repeat;
}

a {
    color: #343FE4
}

/*format section headers*/
h2.page-section-heading {
    padding: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin: auto;
    border-radius: 2em
}

@media only screen and (max-width: 600px) {
    h2.page-section-heading {
        padding: auto;
        margin: auto;
        width: 95%;
        border-radius: 2em
    }
}

/*Section Masthead*/
.masthead {
    background: url(../img/background\ 2.png) repeat fixed;
    border-radius: 4em;
}

.masthead-contenu {
    background-color: #25242ee7;
    color: #E5E5DA;
    border-radius: 2em;
    padding: 2em;
}

/*Section Introduction*/
/*Jumbotron*/
div.jumbotron {
    background-color: #F2869F;
    border-radius: 4em;
    margin: 2.5%;
}

div.jumbotron p {
    text-align: justify;
    margin: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

@media only screen and (max-width: 600px) {

    /*Petit écran*/
    div.jumbotron {
        padding: 1em !important;
    }

    div.jumbotron p {
        text-align: left;
        margin: 0;
    }
}

/*Image Profile*/
#profilePicture {
    border-radius: 15em;
    border: 0.5em solid #E5E5DA
}

/*Section projets*/
#projets {
    border-radius: 4em;
    margin: 2.5%;
    background: url(../img/background\ 2.png) repeat fixed;
}

#projets h2 {
    background-color: #20D9E0;
}

/*carousels*/
.carousel-inner {
    border-radius: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #25242e50;
    width: 3em;
    border-radius: 1em;
}

.carousel-caption {
    background-color: #25242ec0;
    border-radius: 1em;
}

.note {
    background-color: #FFA550;
    width: auto;
    margin: 2.5% 20%;
    padding: 0.5em;
    border-radius: 3em;
    border: 0.3em dashed #25242E
}

/*Section Compétences*/
#competences h2 {
    background-color: #50FF7B !important;
}

/*corps*/
.backgroundBarres {
    background-color: #FFE251;
    border-radius: 3em;
    padding: 1em 2em
}

.backgroundBarres .row {
    padding: 0.5em 0
}

.altRow {
    background-color: #FFA550;
    border-radius: 0.5em;
}

.progress {
    --bs-progress-bg: #25242E;
    --bs-progress-bar-bg: #F2869F;
    border: 2px solid #25242E
}

/*Section Réalisations*/
#realisations {
    background: url(../img/background\ 2.png) repeat fixed;
    border-radius: 4em;
    margin: 2.5% 2.5% 6em 2.5%
}
#realisations h2 {
    background-color: #E5E5DA;
}

/*Section Communication*/
#communication {
    background-color: #9984D3;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    padding-top: 1em;
    margin-top: 1em;
}

.contactParagraphe {
    background-color: #F2869F;
    padding: 2em;
    border-radius: 2em;
    margin: 0 0 10%;
    border: 0.3em dashed #25242E
}

#communication form ul {
    padding: 0;
}

#communication form li {
    list-style-type: none;
    margin: 0.5em 0
}

#communication .btn-outline-primary {
    color: #25242E;
    outline-color: #25242E
}